body {
    background-color: #0F1F42;
}

#sprites {
    display: flex;
    justify-content: center;
}

.head {
    width: 500px;
    height: 500px;
    margin-top: 2%;
    background: url('images/sprite.png') left center;
    animation: play1 2s steps(10) infinite;
}

.hand {
    width: 250px;
    height: 250px;
    margin-top: 20%;
    background: url('images/hand.png') left center;
    animation: play2 2s steps(2) infinite;
}
  
  @keyframes play1 {
      100% { background-position: -5000px; }
  }

  @keyframes play2 {
    100% { background-position: -500px; }
}