html {
    font-family: "Proxima Nova";
    background-color: #F0F0F0;
}

h2, h3 {
    color: #464646;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    background: rgb(255,83,83);
    background: linear-gradient(90deg, rgba(255,83,83,1) 0%, rgba(255,134,70,1) 100%);
}

nav img {
    display: block;
    padding: 13px 60px;
}

nav div {
    display: flex;
    justify-content: space-between;
    padding: 25px 60px;
    width: 100px;
}

nav div a {
    text-decoration: none;
    color: #fff;
    font-family: "Proxima Nova";
    font-weight: bold;
}

section > div {
    display: flex;
}

input {
    border-width: 0px 0px 2px;
    border-color: #464646;
    background-color: #F0F0F0;
    margin: auto;
    width: 200%;
}

input:focus {
    outline: none;
}

#page {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

#drawArea {
    display: flex;
}

#canContainer {
    width: 450px;
    height: 325px;
    border: 1px solid;
    border-color: #D8D8D8;
    border-radius: 18px;
    margin-right: 5px;
    overflow: hidden;
}

#can {
    background-color: #fff;
}

#drawControl {
    width: 50px;
    background-color: #D8D8D8;
    border-radius: 9px;
}

#drawControl img {
    display: block;
    width: 20px;
    margin: 15px auto;
}

#drawControl .buttons {
    margin: 10px auto;
}

#colors {
    display: flex;
    justify-content: space-evenly;
}

#colors img{
    margin: 5px auto;
}